.controls {
  display: grid;
  grid-template-columns: 50px 20px 50px 1fr 100px;
  grid-template-areas: "like . dislike . more";
  align-items: center;
  text-align: center;
  background: var(--color-primary);
  padding: 10px 15px;
  border-radius: inherit;
}

.like {
  grid-area: like;
}

.dislike {
  grid-area: dislike;
}

.more-info {
  grid-area: more;
  background: var(--color-background);
}

.more-info:hover {
  background-color: var(--color-background-hover);
  box-shadow: 0 2px 5px var(--color-black-hover);
}
