.controls {
  display: grid;
  grid-template-columns: 50px 20px 50px 1fr 100px;
  grid-template-areas: "like . dislike . more";
  align-items: center;
  text-align: center;
  background: var(--color-primary);
  padding: 10px 15px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 5px black;
}

.like {
  grid-area: like;
}

.dislike {
  grid-area: dislike;
}

.more-info {
  grid-area: more;
  background: var(--color-black);
}

.more-info:hover {
  background-color: var(--color-black-hover);
  box-shadow: 0 2px 5px var(--color-black-hover);
}
