.navbar-sort {
  flex-direction: row;
  background: none;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.navbar-sort .navbar-text {
  color: var(--color-white);
  margin: 0 7vw 0 0;
  font-size: 0.9em;
}

.navbar-sort .btn {
  padding: 10px 15px;
  margin: 0 7vw 0 0;
  font-size: 0.75em;
}

.navbar-sort .btn:last-child {
  margin-right: 0;
}

.Stadistic .btn-option ~ button,
.Stadistic .btn-option:hover button,
.Stadistic .btn-option:hover .options-symb {
  cursor: pointer;
}
