.navbar-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.navbar-sort .navbar-text {
  color: var(--color-white);
  margin-right: 7vw;
  font-size: 0.9em;
}

.navbar-sort .btn {
  padding: 10px 15px;
  margin-right: 7vw;
  font-size: 0.75em;
}

.navbar-sort .btn:last-child {
  margin-right: 0;
}
