.navbar {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px 15px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: var(--color-primary);
  text-align: center;
}

.navbar-text {
  color: var(--color-font);
  font-size: 1.2em;
  font-weight: 400;
}

.navbar > .btn {
  margin-bottom: 10px;
}
