/*--------------- Variables ------------------*/
:root {
  /*Colors*/
  --color-background: hsl(220deg, 46%, 20%);
  --color-background-hover: hsl(220deg, 46%, 20%, 0.88);
  --color-primary: #00909e;
  --color-secundary: hsl(222deg, 30%, 39%);
  --color-secundary-hover: hsl(222deg, 30%, 39%, 0.88);
  --color-font: #c9d1d3;

  --color-white: white;
  --color-black: black;
  --color-black-hover: #373737;
  --color-light-gray: rgba(107, 103, 103, 0.77);
  --color-gray: #6b6767;
  --color-green: hsl(120deg, 70%, 48%);
  --color-red: hsl(0deg, 72%, 39%);
}

/*------------  Fuentes  ------------------*/
/*Roboto*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

/*--------------- Estilos Globales -----------------------*/
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 95%;
  margin: auto;
}

/* -------------------- Estilos para el navbar ------------------ */
.navbar {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px 15px;
  margin: 10px auto;
  border-radius: 10px;
  text-align: center;
}

.navbar-text {
  color: var(--color-font);
  font-size: 1.1em;
  font-weight: 400;
}

.navbar > .btn {
  margin-bottom: 10px;
}

/*--------------------Estilos para los botones---------------------*/
button {
  background: none;
  border: none;
  padding: 0;
}

button:not(.btn-reaction) {
  color: var(--color-font);
}

.btn:not(.btn-reaction) {
  font-size: 0.8em;
  padding: 10px 5px;
  border-radius: 20px;
  transition: 0.25s;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  border: none;
  border: 3px solid var(--color-green);
}

.btn-primary:hover {
  background-color: var(--color-green);
}

.btn-secundary {
  border: none;
  border: 3px solid var(--color-red);
}

.btn-secundary:hover {
  background-color: var(--color-red);
}

.btn-option {
  display: flex;
  background-color: var(--color-secundary);
  position: relative;
}

.btn-option:hover {
  background-color: var(--color-secundary-hover);
  box-shadow: 0 2px 5px var(--color-secundary-hover);
}

/*--------------- Estilos para los botones con opciones*/
.options {
  margin-left: 5px;
  border-left: 1px solid white;
}

.options-symb {
  color: var(--color-font);
  padding: 5px;
}

.options .options-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 35%;
  left: 20%;
  background-color: var(--color-secundary);
  margin: 0;
  padding: 0;
  border-radius: 0 0 20px 20px;
  list-style: none;
  transform: translate(-10%, 25%);
}

.options-list:hover {
  box-shadow: none;
}

.options-list .option {
  padding: 5px 0;
  border-bottom: 1px solid white;
}

.options-list .option:last-child {
  border-bottom: none;
}

.options-list .option:hover {
  background-color: var(--color-secundary-hover);
}

.options-list .option:last-child:hover {
  border: inherit;
}

@media screen and (min-width: 768px) {
  .btn-primary,
  .btn-secundary {
    width: 200px;
    margin: 10px auto;
  }
  .btn-primary:hover,
  .btn-secundary:hover {
    width: 300px;
  }
}
